body,
h1,
h2,
p,
ul,
li,
a,
section,
span,
div {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Roboto", Helvetica, sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  margin-left: 0px;
}

img {
  display: block;
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

/*menu*/

.menu-bg {
  background: #000000;
}

.menu {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
}

.menu-logo a {
  font-size: 2.25em;
  font-family: "Creepster", system-ui;
  font-weight: 400;
  color: #ffffff;
}

.menu-lista ul {
  display: flex;
  flex-wrap: wrap;
}

.menu-lista ul a {
  font-size: 1.25em;
  color: #ffffff;
  display: block;
  padding: 12px;
}

.menu-lista ul li a:hover {
  color: #0070d1;
}

@media (max-width: 1140px) {
  .menu {
    padding: 6px 0px;
    margin-left: 40px;
  }

  .menu-lista ul a {
    font-size: 1.1em;
    padding: 12px;
  }

  .menu-logo a {
    font-size: 2.2em;
  }
}

@media (max-width: 500px) {
  .menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px 0px 0px 10px;
  }

  .menu-lista ul {
    margin-top: 10px;
    align-items: center;
  }

  .menu-lista ul a {
    padding-left: 0px;
  }
}

@media (max-width: 410px) {
  .menu {
    flex-direction: column;
    align-items: left;
    justify-content: left;
    margin: 0px 0px 0px 10px;
  }

  .menu-lista ul {
    margin-top: 10px;
    align-items: center;
  }

  .menu-lista ul a {
    padding-left: 0px;
  }
}

/*sobre*/

.sobre-bg {
  background-image: url(./img/fundo/ampulheta\ 1400.jpg);
  background-repeat: no-repeat;
  background-position: center;
  color: #ffffff;
  padding: 20px 0px 0px 0px;
}

.sobre {
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  margin: 0px auto;
  padding: 20px 0px 10px 0px;
}

.sobre-item .sobre-info {
  flex: 0 0 400px;
  margin: 0px 0px 20px 0px;
}

.sobre-item h1 {
  font-size: 3em;
  margin: 0px 0px 26px 0px;
}

.sobre-item span {
  display: block;
  margin-left: -0.9%;
  font-size: 1em;
  text-transform: uppercase;
  font-family: "Times New Roman", Times, serif;
  color: #dedfe1;
}

.sobre-item p {
  margin-bottom: 30px;
  width: 420px;
  font-size: 1.2em;
}

@media (max-width: 1400px) {
  .sobre-bg {
    margin: 0px;
    padding: 0px;
  }

  .sobre {
    padding-top: 28px;
  }

  .sobre-info {
    flex: 1 1 500px;
    margin: 0px 0px 20px 0px;
  }

  .sobre-item h1 {
    font-size: 2.5em;
    padding: 0px;
    margin-bottom: 20px;
  }
}

@media (max-width: 1140px) {
  .sobre-bg {
    background-image: url(./img/fundo/ampulheta\ 700.jpg);
    margin: 0px;
    padding: 0px;
  }

  .sobre {
    padding-top: 22px;
    margin-left: 40px;
  }

  .sobre-item span {
    font-size: 0.9em;
  }

  .sobre-info {
    flex: 1 1 600px;
  }

  .sobre-item h1 {
    font-size: 1.8em;
    padding: 0px;
    margin-bottom: 20px;
  }

  .sobre-item p {
    margin-bottom: 20px;
    font-size: 1.1em;
  }
}

@media (max-width: 800px) {
  .sobre {
    padding-top: 18px;
  }

  .sobre-item span {
    font-size: 0.9em;
  }

  .sobre-item .sobre-info {
    flex: 1 1 600px;
  }

  .sobre-item h1 {
    font-size: 1.7em;
    padding: 0px;
    margin-bottom: 20px;
  }

  .sobre-item .sobre-info p {
    margin-bottom: 14px;
    font-size: 1em;
    width: 300px;
  }
}

@media (max-width: 500px) {
  .sobre-bg {
    background-image: url(./img/fundo/ampulheta\ 400-2.jpg);
    background-size: cover;
    margin: 0px;
    padding-top: 5px;
    height: 750px;
  }

  .sobre {
    padding-top: 18px;
    margin: 0px auto;
    align-items: center;
    justify-content: center;
  }

  .sobre-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0px;
  }

  .sobre-item span {
    margin-bottom: 5px;
    margin-left: 0px;
  }

  .sobre-info {
    flex: 1 1 240px;
  }

  .sobre-item h1 {
    font-size: 1.6em;
    text-align: center;
  }

  .sobre-item p {
    font-size: 1em;
    width: auto;
    text-align: center;
  }
}

@media (max-width: 430px) {
  .sobre-item span {
    font-size: 0.4;
  }

  .sobre-item h1 {
    font-size: 1.3em;
  }

  .sobre-item p {
    font-size: 1em;
  }
}

/*tema-1*/

.tema-sam {
  background-image: url(./img/fundo/medo\ 1030.jpg);
  background-color: #000000;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: 0px;
}

.tema-sam span {
  font-size: 10em;
  text-transform: uppercase;
  font-family: "Creepster", system-ui;
  text-align: center;
  color: #dedfe17a;
}

@media (max-width: 800px) {
  .tema-sam {
    background-image: url(./img/fundo/medo\ 730.jpg);
    height: 340px;
  }

  .tema-sam span {
    font-size: 8em;
  }
}

@media (max-width: 500px) {
  .tema-sam {
    background-image: url(./img/fundo/medo\ 320.jpg);
    background-position-y: 58%;
    height: 300px;
    margin: 0px;
    padding: 0px;
  }

  .tema-sam span {
    font-size: 4em;
  }
}

@media (max-width: 400px) {
  .tema-sam {
    margin-top: -1px;
  }

  .tema-sam span {
    font-size: 4em;
  }
}

/*jogo*/

.jogo-bg {
  margin: 0px auto;
  padding: 20px 0px;
  background-color: #121314;
  color: #ffffff;
}

.jogo-bg h1 {
  flex-basis: 700px;
  flex-wrap: nowrap;
  font-size: 2.5em;
  margin: 20px auto;
  text-align: center;
}

.jogo {
  max-width: 1000px;
  margin: 0px auto;
  display: flex;
  flex-wrap: wrap;
}

.jogo-info {
  flex: 1 0 470px;
  margin: 20px auto;
  margin-right: 15px;
}

.jogo-info img {
  height: 300px;
  margin-top: 20px;
}

.jogo-info:nth-child(4) {
  flex: 1 1 400px;
  margin-top: 10px;
}

.jogo-info:nth-child(4) p {
  width: 1000px;
}

.jogo-info:nth-child(4) img {
  height: auto;
}

.jogo-info h2 {
  font-size: 1.6em;
  margin-top: 20px;
  font-weight: 600;
  text-align: center;
}

.jogo-info p {
  font-size: 1em;
  line-height: 1.4;
  font-weight: 300;
  margin-top: 20px;
  padding-bottom: 20px;
  text-align: left;
}

@media (max-width: 1070px) {
  .jogo-info:nth-child(4) p {
    width: auto;
  }
}

@media (max-width: 1000px) {
  .jogo-info {
    flex: 1 0 370px;
    padding-right: 10px;
  }
  .jogo h1 {
    font-size: 2.2em;
    flex-basis: 620px;
  }
}

@media (max-width: 800px) {
  .jogo-bg {
    height: auto;
  }

  .jogo h1 {
    font-size: 1.7em;
    flex-basis: 500px;
  }

  .jogo-info {
    flex: 1 0 480px;
  }
  .jogo-info img {
    height: auto;
  }

  .jogo-info h2 {
    font-size: 1.8em;
    margin-top: 30px;
  }

  .jogo-info p {
    font-size: 1.3em;
    line-height: 1.4;
    font-weight: 300;
    margin-top: 20px;
    padding-bottom: 20px;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .jogo h1 {
    font-size: 1.2em;
    flex-basis: 400px;
    margin: 20px auto;
  }

  .jogo-info {
    flex: 1 0 260px;
    padding: 0px 20px;
    margin: 0px;
  }

  .jogo-info h2 {
    font-size: 1.2em;
    margin-top: 20px;
    margin-left: 0px;
    text-align: center;
  }

  .jogo-info p {
    font-size: 1.1em;
    line-height: 1.2;
    margin-top: 20px;
    margin-left: 0px;
    padding-bottom: 10px;
    text-align: center;
  }
}

@media (max-width: 410px) {
  .jogo-bg {
    padding-top: 5px;
    padding-bottom: 40px;
  }

  .jogo h1 {
    flex-basis: 300px;
    font-size: 1.2em;
  }

  .jogo-info {
    flex: 1 0 220px;
    margin-bottom: 0px;
    padding: 0px 15px;
  }

  .jogo-info h2 {
    text-align: center;
    font-size: 1.1em;
  }

  .jogo-info p {
    font-size: 0.9em;
    margin-top: 12px;
    text-align: center;
  }
}

@media (max-width: 360px) {
  .jogo h1 {
    flex-basis: 280px;
    font-size: 1.01em;
  }

  .jogo-info h2 {
    font-size: 1em;
  }
}

/*tema-josh*/

.tema-josh {
  background-image: url(./img/fundo/sobrevivencia\ 1030.jpg);
  background-color: #000000;
  background-repeat: no-repeat;
  height: 500px;
  background-size: cover;
  background-position-y: 70%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.tema-josh span {
  font-size: 10em;
  text-transform: uppercase;
  font-family: "Creepster", system-ui;
  text-align: center;
  color: #dedfe17a;
}

@media (max-width: 1300px) {
  .tema-josh {
    background-image: url(./img/fundo/sobrevivencia\ 770.jpg);
    height: 340px;
  }

  .tema-josh span {
    font-size: 8em;
  }
}

@media (max-width: 800px) {
  .tema-josh {
    background-image: url(./img/fundo/sobrevivencia\ 770.jpg);
    height: 340px;
  }

  .tema-josh span {
    font-size: 7em;
  }
}

@media (max-width: 650px) {
  .tema-josh {
    background-image: url(./img/fundo/sobrevivencia\ 770.jpg);
    background-position-x: 40%;
  }

  .tema-josh span {
    font-size: 5.5em;
  }
}

@media (max-width: 500px) {
  .tema-josh {
    background-image: url(./img/fundo/sobrevivencia\ 320.jpg);
    background-position-y: 55%;
    height: 300px;
  }

  .tema-josh span {
    font-size: 4.5em;
  }
}

@media (max-width: 410px) {
  .tema-josh span {
    font-size: 3.9em;
  }
}

@media (max-width: 370px) {
  .tema-josh span {
    font-size: 3.4em;
  }
}

@media (max-width: 310px) {
  .tema-josh span {
    font-size: 3em;
  }
}

/*personagens*/

.personagens-bg {
  margin: 0px auto;
  padding: 20px 0px;
  background-color: #121314;
  color: #ffffff;
  height: auto;
}

.personagens-bg h1 {
  flex-basis: 700px;
  flex-wrap: nowrap;
  font-size: 2.5em;
  margin: 20px auto;
  text-align: center;
}

.personagens {
  max-width: 1000px;
  margin: 0px auto;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0px 10px 0px;
}

.personagens-item {
  flex: 1 0 470px;
  margin: 20px auto;
  margin-right: 20px;
}

.personagens-item img {
  height: calc(100% - 30%);
  margin: 0px auto;
}

.personagens-item h2 {
  font-size: 1.6em;
  margin-top: 20px;
  font-weight: 600;
  text-align: center;
}

.personagens-item p {
  font-size: 1em;
  line-height: 1.4;
  font-weight: 300;
  margin-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

@media (max-width: 1000px) {
  .personagens-bg h1 {
    font-size: 2.2em;
    flex-basis: 620px;
  }

  .personagens-item {
    flex-basis: 370px;
    padding-right: 10px;
  }
}

@media (max-width: 800px) {
  .personagens-bg h1 {
    font-size: 1.7em;
    flex-basis: 500px;
    margin: 10px auto;
  }

  .personagens-item {
    flex: 1 0 480px;
    margin: 10px auto;
  }

  .personagens-item img {
    height: 500px;
  }
  .personagens-item h2 {
    font-size: 1.8em;
    margin-top: 30px;
  }

  .personagens-item p {
    font-size: 1.3em;
    line-height: 1.4;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 0px;
    text-align: center;
  }
}

@media (max-width: 550px) {
  .personagens-item img {
    height: auto;
    padding: 0px 4px;
  }
}

@media (max-width: 500px) {
  .personagens-bg h1 {
    font-size: 1.2em;
    flex-basis: 370px;
    margin: 10px 0px;
  }

  .personagens-item {
    flex: 1 0 260px;
    padding: 0px 20px;
    margin: 0px;
  }

  .personagens-item img {
    padding: 0px;
  }

  .personagens-item h2 {
    font-size: 1.2em;
    margin-top: 20px;
    text-align: center;
  }

  .personagens-item p {
    font-size: 1.1em;
    line-height: 1.2;
    margin-top: 20px;
    padding-bottom: 10px;
    text-align: center;
  }
}

@media (max-width: 410px) {
  .personagens-bg {
    padding-top: 5px;
    padding-bottom: 40px;
  }

  .personagens-bg h1 {
    flex-basis: auto;
    font-size: 1.3em;
    padding-right: 0px;
    margin-right: 0px;
    margin-top: 20px;
  }

  .personagens-item {
    flex: 1 0 220px;
    margin-bottom: 0px;
    padding: 0px 15px;
  }

  .personagens-item p {
    font-size: 0.9em;
    margin-top: 12px;
    text-align: center;
  }
}

@media (max-width: 360px) {
  .personagens-bg h1{
    font-size: 1.2em;
  }
  .personagens-item h2 {
    font-size: 1.1em;
  }
}
